.l-container {
  width: $site-width;
  @include ipad() {
    width: 768px;
  }
  @include mq() {
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px;
}